<!DOCTYPE html>
<html>
<meta name="viewport" content="width=device-width" />
<head>

<link rel="stylesheet" type="text/css" href="{{ static_url("gameshow.css")}}" /> 
</head>
<body>
<div id="title" class="title">
ESL Review
</div>





<form id="form" action ="/login" class="inputform" method="POST">

<input type="text" name="username" id="name" placeholder="Choose a name" autocomplete="off" tabindex="1" class="txtinput">
</form>
<a href="javascript:document.getElementById('form').submit();">
<div id="two" class="button1">
Submit
</div>
</a>
</body>
</html>
