<!DOCTYPE html>
<html>
<head>

<title>Control Page</title>
   <link rel="stylesheet" type="text/css" href="{{ static_url("gameshow.css")}}" /> 

<script src="{{static_url("jquery-1.11.0.min.js")}}" type ="text/javascript"></script>

<script src="{{static_url("jquery-migrate-1.2.1.min.js")}}" type ="text/javascript"></script>

<script src="{{static_url("gameshow.js")}}" type ="text/javascript"></script>

<script type="text/javascript">
{% autoescape None %}
$(document).ready(function() {
  makecontroltable(teamsarray);
setTimeout(requestUpdate, 100);


  } );


var teamsarray ={{ teams  }};
 var status = "{{ status }}";
 var updatefunc = updateControl;
 var updatepage = "/controlstatus";
var questionnum = 0;
// ---------------------------------------functions for sending messages


function sendanswer (answerform) {
var answer = answerform.answer.value;
answer = encodeURIComponent(answer);
sendmessage("type=controlanswer&answer="+answer,"/controlmessage");
}

function setanswer (answer) {
document.getElementById('answerform').reset();
document.getElementById('answertext').defaultValue = answer;

}




function sendquestion (questionform) {
var question = questionform.question.value;
question = encodeURIComponent(question);
sendmessage("type=question&question="+question,"/controlmessage");
clearcontrolanswers ();
}


function sendq (question) {
question = encodeURIComponent(question);
sendmessage("type=question&question="+question,"/controlmessage");
clearcontrolanswers ();


}


function sendnextquestion () {
sendq ("start quiz");
}

function opencloselogin () {
sendmessage("type=toggleloginstatus","/controlmessage");
}

function openclosestatus () {
sendmessage("type=togglestatus","/controlmessage");}

function resetgame () {
sendmessage("type=resetgame","/controlmessage");}





function rename (i) {
//window.alert("renaming no "+i);

}

function markcorrect (i) {
var name = getusernamefromindex(i);
sendmessage("type=markcorrect&id="+name,"/controlmessage");
}


function markincorrect (i) {
var name = getusernamefromindex(i);
sendmessage("type=markincorrect&id="+name,"/controlmessage");
}

function block (i) {
var name = getusernamefromindex(i);
sendmessage("type=block&id="+name,"/controlmessage");
document.getElementById("score"+i).innerHTML="true";
}

function unblock (i) {
var name = getusernamefromindex(i);
sendmessage("type=unblock&id="+name,"/controlmessage");
document.getElementById("score"+i).innerHTML="false";
}




// -----------------------------------functions for recieving updates

		
function updateControl(resultJson) {
		  if (resultJson.type=="answers"){
		  makecontroltable(resultJson.answers); 
		  }

		  if (resultJson.type=="question") {
		  // nothing to do yet - maybe alert that the question is asked and status has changed
		  setLoginStatus (resultJson.loginstatus);
		  setStatus (resultJson.status);
		  }

		  if (resultJson.type=="loginstatus") {
		  setLoginStatus (resultJson.loginstatus);
		  }
		  if (resultJson.type=="status") {
		  setStatus (resultJson.status);
		  }


}
		  
// ---------------------------------------------fucntions for page

function setLoginStatus (status) {
		  document.getElementById("loginstatus").innerHTML=status;
}
function setStatus (status) {
   document.getElementById("status").innerHTML=status;
}


function getusernamefromindex (id) {
		  var name = encodeURIComponent(teamsarray[id][0]);
		  return name;
}









function makecontroltable (team) {

    var titles = ["Teams","Block","Level","Qnum","Blocked"];
    var teamnames = new Array;
    var block = new Array;
    var level = new Array;
		  var qnum = new Array;
		  var blocked = new Array;
//window.alert(team);		  
    for (i=0;i<team.length;i++)
    {
	teamnames.push(team[i][0]);
     	block.push("<div class='cell' id='block"+i+"'><a id='block"+i+"' href='javascript:block("+i+");'>Block</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a id='unblock"+i+"'  href='javascript:unblock("+i+");'>unblock</a></div>");
    	level.push("<div class='cell' id='answer"+i+"'>"+team[i][3] +"</div>");
   


  	qnum.push("<div class='cell' id='mark"+i+"'>"+team[i][5]+" </div>");
     	blocked.push("<div class='cell' id='score"+i+"'>"+team[i][4]+"</div>");
    }
    var tablehtml = maketable(titles,teamnames,block,level,qnum,blocked);
    

    if (tablehtml=="") {
    	tablehtml="No teams connected";
    }
    document.getElementById('GameshowTable').innerHTML=tablehtml;

}




function clearcontrolanswers () {
var numofteams = document.getElementById('GameshowTable').getElementsByTagName("tr").length;

for (i = 0; i<(numofteams-1); i++)       {
document.getElementById('answer'+i).innerHTML="noanswer";


}


}


















</script>




</head>
<body>
<div id="title" class="title">
 This is the Control Page
 </div>


<div id="teams" class="box">
<div id="GameshowTable" class="GameshowTable">

</div>


</div>





<div id="asknextquestion" class="box">
<form action="#" onsubmit="sendnextquestion(this); return false">
Start Game
<input type="submit" value="Send Question" />
</form>
</div>



<div id="changeloginstatus" class="box">
<div id="loginstatus">
{{ loginstatus }}

</div>
<form action="#" onsubmit="opencloselogin(this); return false">
<input type="submit" value="Open/Close Login" />
</form>
</div>

<div id="changestatus" class="box">
<div id="status">
{{ status }}
</div>
<form action="#" onsubmit="openclosestatus(this); return false">
<input type="submit" value="Change Status" />
</form>
</div>

<div id="resetgame" class="box">
<div id="reset">
Reset game
</div>
<form action="#" onsubmit="resetgame(this); return false">
<input type="submit" value="Reset game" />
</form>
</div>

</body>
</html>
